<div class="BVOverallRatingLabel">Overall: </div>
<div class="BVOverallRatingStarsContainer">
	<div class="_BVRatingStarsFilled"><img class="_BVRatingStarsFilledImage" src="images/filled.svg" onerror="this.onerror=null; this.src='images/filled.png'"></div>
	<div class="_BVRatingStarsUnfilled"><img class="_BVRatingStarsUnfilledImage" src="images/unfilled.svg" onerror="this.onerror=null; this.src='images/unfilled.png'"></div>
	<div class="_BVRatingStarsText"></div>
</div>
<div class="_BVRatingValue"></div>
<div class="BVRatingSeparator"> out of </div>
<div class="_BVRatingRange"></div>