<article id="" class="_BVReviewContainer">
	<div class="_BVOverallRatingContainer"></div>
	<div class="_BVSecondaryRatingsContainer"></div>
	<div class="_BVReviewTitleContainer"></div>
	<div class="_BVReviewDateContainer"></div>
	<div class="BVUserDataContainer">
		<div class="BVavatar"></div>
		<div class="BVUserInfo">
			<div class="_BVReviewUserNicknameContainer"></div>
			<div class="_BVReviewUserLocationContainer"></div>
			<div class="_BVReviewContextDataValuesContainer"></div>
		</div>
	</div>
	<div class="_BVReviewTextContainer"></div>
	<div class="_BVReviewTagsContainer"></div>
	<div class="_BVReviewAdditionalFieldsContainer"></div>
	<div class="_BVReviewRecommendedContainer"></div>
	<div class="_BVReviewPhotosContainer"></div>
	<div class="_BVReviewVideosContainer"></div>
	<div class="_BVReviewFeedbackContainer"></div>
</article>