<div class="BVSecondaryRatingContainer">
	<div class="_BVSecondaryRatingLabelText"></div>
	<div class="BVSecondaryRatingStarsContainer">
		<div class="_BVRatingStarsFilled"><img class="_BVRatingStarsFilledImage" src="images/filledSecondary.svg" onerror="this.onerror=null; this.src='images/filledSecondary.png'"></div>
		<div class="_BVRatingStarsUnfilled"><img class="_BVRatingStarsUnfilledImage" src="images/unfilledSecondary.svg" onerror="this.onerror=null; this.src='images/unfilledSecondary.png'"></div>
		<div class="_BVRatingStarsText"></div>
	</div>
	<div class="_BVRatingValue"></div>
	<div class="BVRatingSeparator"> out of </div>
	<div class="_BVRatingRange"></div>
</div>