<form id="" name="" action="" method="">
	<div class="_BVPageHeaderContainer"></div>
	<div class="BVPageBody">
		<div class="BVSectionProductContainer"></div>
		<div class="BVSectionErrorContainer"></div>
		<div class="BVSectionRatingsContainer">
			<div class="_BVSectionHeaderRatingsContainer"></div>
			<div class="_BVOverallRatingInputContainer"></div>
			<div class="_BVSecondaryRatingGroupInputContainer"></div>
			<div class="_BVRecommendedInputContainer"></div>
		</div>
		<div class="BVSectionReviewContainer">
			<div class="_BVSectionHeaderReviewContainer"></div>
			<div class="_BVTitleInputContainer"></div>
			<div class="_BVBodyTextInputContainer"></div>
			<div class="_BVTagsInputContainer"></div>
		</div>
		<div class="BVSectionMediaContainer">
			<div class="_BVPhotoUploadInputContainer"></div>
			<div class="_BVVideoUploadInputContainer"></div>
		</div>
		<div class="BVSectionUserContainer">
			<div class="_BVUserNicknameInputContainer"></div>
			<div class="_BVUserIdInputContainer"></div>
			<div class="_BVUserEmailInputContainer"></div>
			<div class="_BVUserLocationInputContainer"></div>
			<div class="_BVContextDataValueGroupInputContainer"></div>
			<div class="_BVAdditionalFieldGroupInputContainer"></div>
		</div>
	</div>
	<div class="BVFooter">
		<div class="_BVTermsConditionsContainer"></div>
		<div class="_BVEmailAlertWhenPublishedContainer"></div>
		<div class="_BVEmailAlertWhenCommentedContainer"></div>
		<div class="_BVButtonSubmitContainer"></div>
		<div class="_BVButtonPreviewContainer"></div>
		<div class="_BVButtonCancelContainer"></div>
	</div>	
</form>